// quick_paint_theme.scss

// Main color system (white to teal to dark magenta gradient)

$white:    #dfe8ec !default;
$gray-100: #C5D5DC !default;
$gray-200: #ACC2CD !default;
$gray-300: #92B0BD !default;
$gray-400: #799DAE !default;
$gray-500: #608B9F !default;
$gray-600: #517081 !default;
$gray-700: #425563 !default;
$gray-800: #333A45 !default;
$gray-900: #241F27 !default;
$black:    #150409 !default;

// Main color system (white to teal to dark magenta gradient)

$primary-10: #334b59 !default;
$primary-20: #2f506c !default;
$primary-30: #36547e !default;
$primary-40: #49548d !default;
$primary-50: #655296 !default;
$primary-60: #854c99 !default;
$primary-70: #a54293 !default;
$primary-80: #c33286 !default;
$primary-90: #dc2170 !default;
$primary-100: #ed1955 !default;

//Custom colors adjusted for theme

$blue:    #007bff !default;
$indigo:  #8357a3 !default;
$purple:  #6f42c1 !default;
$pink:    #ed1955 !default;
$red:     #ee3124 !default;
$orange:  #fd7e14 !default;
$yellow:  #f8e504 !default;
$green:   #67bd45 !default;
$teal:    #20c997 !default;
$cyan:    #3ec3d7 !default;

$colors: () !default;
$colors: map-merge(
        (
            "blue":       $blue,
            "indigo":     $indigo,
            "purple":     $purple,
            "pink":       $pink,
            "red":        $red,
            "orange":     $orange,
            "yellow":     $yellow,
            "green":      $green,
            "teal":       $teal,
            "cyan":       $cyan,
            "white":      $white,
            "gray":       $gray-600,
            "gray-dark":  $gray-800,
        ),
        $colors
);

//Theme colors (same as _variables.scss)

$primary:       $pink !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Color variables for custom theme

$background-000: #181F25;
$background-025: #212D36;
$background-050: #2A3C48;
$background-075: #334B59;
$background-100: #3D5A6B;

$background :   $background-000;
$foreground :   $background-100;
$font-color :   #fae200;
$hover-color:   #ae214f;

//New theme colors (background, foreground) which can be used in HTML classes

$theme-colors: () !default;
$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark,
            "background": $background,
            "background-025":$background-025,
            "background-050":$background-050,
            "background-075":$background-075,
            "foreground": $foreground,

            "primary-10": $primary-10,
            "primary-20": $primary-20,
            "primary-30": $primary-30,
            "primary-40": $primary-40,
            "primary-50": $primary-50,
            "primary-60": $primary-60,
            "primary-70": $primary-70,
            "primary-80": $primary-80,
            "primary-90": $primary-90,
            "primary-100": $primary-100,
),
        $theme-colors
);

//Alerts
$alert-bg-level:        0;  //Saturated compared to default bright color
$alert-border-level:    -9;
$alert-border-radius:   .5rem;  //More rounded corners to distinguish from other borders
$alert-color-level:     9;

//Body background color and font color
$body-bg:       $background-000;
$body-color:    $font-color;

//Border
$border-width:  3px;
$border-color:  $gray-100;

//Card
$card-bg:       $background-075;
$card-cap-bg:   rgba($black, .1);

//List group
$list-group-bg: $background-025;

//Modal
$modal-content-bg: $background-100;

//Dropdown
$dropdown-link-color: $hover-color;
$dropdown-link-hover-color: $primary;

//Font
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base:            $font-family-sans-serif;

//Navbar
$navbar-light-color: $white;
$navbar-light-hover-color: $gray-300;
$navbar-light-active-color: $hover-color;
$navbar-light-brand-color: $white;
$navbar-light-brand-hover-color: $gray-300;
$link-hover-decoration:   none;

//Nav tabs

$nav-tabs-link-active-bg: $primary;
$nav-tabs-link-active-color: $white;

$nav-tabs-link-hover-border-color: transparent;

//Pagination

$pagination-padding-y: 0;

//Bootstrap default scss code
@import "../node_modules/bootstrap/scss/bootstrap";

//Specific style customization takes precedence over bootstrap source code

    //Nav

    .nav-tabs {
        border: none;
    }

    .nav-tabs {

        .nav-link.active,
        .nav-item.show .nav-link {
            border: $border-width solid $hover-color;
            border-bottom-style: none;
        }
    }

    .tab-joined {
        border-color: $hover-color;
        border-width:  $border-width;
        border-style: none;
        border-radius: 5px;
        border-top-style: solid;
    }

    .search-term-bar {
        border: $border-width solid $gray-300;
    }
