html, body, #app, .full-height {
    height: 100%;
}
main {  /* Navigation header adds fixed height to 100% height */
    height: calc(100% - (3.375rem) -  (0.5rem * 2));
    /*  100% - ($navbar-brand-height) - ($navbar-padding-y * 2)

        $navbar-brand-height = $navbar-brand-font-size * $line-height-base
            $navbar-brand-font-size = $font-size-lg
                $font-size-lg = $font-size-base * 1.25
                    $font-size-base = 1.8rem (public/css/title_font.css)
            $line-height-base = 1.5

        |$navbar-brand-height = (1.8rem * 1.25) * 1.5 = 3.375rem|

        $navbar-padding-y = $spacer / 2
            $spacer = 1rem

        |$navbar-padding-y = 1rem / 2 = 0.5 rem|

        (node_modules/bootstrap/_variables.scss)
    */
}
