.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#drawing_area{
    cursor: none;
    background-image: url("../img/transparent_tile.png");
    overflow: hidden;
}

#paint_canvas {
    cursor: none;
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#top_layer {
    cursor: none;
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#scale_overlay {
    position: absolute;
    right: 15pt;
    top: 3pt;
}

#scale_label {
    user-select: none;
}

#zoom_reset {
    cursor: default;
    display: block;
    user-select: none;
}

#brush_cursor {
    position: absolute;
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
}
